<button slider-prev class="m-btn-slider m-btn-slider--prev slider-btn slider-btn--prev">
  <span class="m-btn-slider__icon slider-btn__icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="10"
      height="17"
      viewBox="0 0 10 17"
      fill="none">
      <path
        d="M8.06067 1.06055L1.06067 8.06055L8.06067 15.0605"
        stroke="white"
        stroke-width="1.5"
        stroke-linecap="square" />
    </svg>
  </span>
</button>

<button slider-next class="m-btn-slider m-btn-slider--next slider-btn slider-btn--next">
  <span class="m-btn-slider__icon slider-btn__icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="10"
      height="17"
      viewBox="0 0 10 17"
      fill="none">
      <path
        d="M1.06067 1.06067L8.06067 8.06067L1.06067 15.0607"
        stroke="white"
        stroke-width="1.5"
        stroke-linecap="square" />
    </svg>
  </span>
</button>