@use "../abstracts" as *;

.m-slider-scroll-indicator {
	&__track {
		position: relative;
		height: 2px;
		background-color: var(--c-border-gray);
		border-radius: 50px;
		width: 240px;
		display: none;
		@include media("<sm") {
			width: 140px;
			display: block;
		}
		@include media(">=sm", "<md") {
			width: 240px;
			display: block;
		}
	}

	&__thumb {
		position: absolute;
		top: 0;
		left: 0;
		min-width: auto;
		height: 100%;
		background-color: var(--c-text-secondary);
		border-radius: 50px;
		display: flex !important;
	}
}