@use "fontVariables" as *;

/* Recoleta */
@font-face {
	font-family: $recoletaBold;
	src: url("../Recoleta-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: $recoletaSemiBold;
	src: url("../Recoleta-SemiBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: $recoletaMedium;
	src: url("../Recoleta-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: $recoletaRegular;
	src: url("../Recoleta-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
