@use "../../typography/fontVariables" as *;
@use "../../abstracts/mixins-media" as *;

.card {
    &__heading {
        color: var(--c-text-brown);
        font-family: $recoletaSemiBold;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .price-value {
        color: var(--c-text-brown);
        font-family: $recoletaSemiBold;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .price-onwards {
        color: var(--c-text-brown);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}