@use "../../typography/fontVariables" as *;

.collection {
    &__title {
        .title {
            font-family: $recoletaBold;
            color: var(--c-text-brown);
            margin-bottom: 7px !important;
        }
    }

    &__view-all {
        margin-block-start: var(--space-xl);
        a {
            display: flex;
            width: 320px;
            height: 48px;
            min-height: auto;
            padding: 9px 17px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 4px;
            background: var(--Orange, #FF6B00);
            margin-inline: auto;
            color: var(--White, #FFF);
            text-align: right;
            font-family: $recoletaSemiBold;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            &::before,
            &::after {
                display: none;
            }
        }
    }

    .featured-collection-subtitle {
        display: inline-block;
        font-family: $recoletaRegular;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 630px;

        &__icon {
            display: inline-flex;
            width: 49px;
            height: 42px;
            margin-inline: 5px;
            position: relative;
            vertical-align: middle;
            top: -3px;
        }
    }
}