{{ 'css/components/ui-category-slider.css' | asset_url | stylesheet_tag }}

<section class="ui-category-slider">
  <div class="page-width">

    {% if section.settings.title != blank %}
      <div class="ui-category-slider__header">
        <h2>{{ section.settings.title }}</h2>
      </div>
    {% endif %}

    <slider-interface>

      <div class="ui-category-slider__wrapper">

        <ul
          class="ui-category-slider__list ui-category-slider--{{ section.settings.cards_per_row }}"
          slider-card-list
          data-cards-per-slide="{{ section.settings.cards_per_row }}">

          {% for block in section.blocks %}

            <li class="ui-category-slider__item" slider-card>

              {% render 'ui-product-card'
                ,
 image: block.settings.image
                ,
 title: block.settings.title
                ,
 link: block.settings.link
              %}

            </li>

          {% endfor %}

        </ul>

      </div>

      <div class="ui-category-slider__nav">
        <div class="m-slider-scroll-indicator">
          <div
            x-slider-scroll-indicator-track
            slider-scroll-indicator-track
            class="m-slider-scroll-indicator__track">
            <div
              x-slider-scroll-indicator-thumb
              slider-scroll-indicator-thumb
              class="m-slider-scroll-indicator__thumb"></div>
          </div>
        </div>

        <button slider-prev class="slider-btn slider-btn--prev">
          ‹
        </button>

        <button slider-next class="slider-btn slider-btn--next">
          ›
        </button>

      </div>

    </slider-interface>

  </div>
</section>

{% schema %}
  {
    "name": "UI Category Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Shop By Category"
      }, {
        "type": "select",
        "id": "cards_per_row",
        "label": "Cards per row",
        "options": [
          {
            "value": "6",
            "label": "6 Cards"
          }, {
            "value": "4",
            "label": "4 Cards"
          }, {
            "value": "3",
            "label": "3 Cards"
          }
        ],
        "default": "6"
      }
    ],
    "blocks": [
      {
        "type": "category",
        "name": "Category",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Category Image"
          }, {
            "type": "text",
            "id": "title",
            "label": "Category Title"
          }, {
            "type": "url",
            "id": "link",
            "label": "Category Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "UI Category Slider"
      }
    ]
  }
{% endschema %}