{% comment %} {{ 'css/components/ui-category-slider.css' | asset_url | stylesheet_tag }} {% endcomment %}

<section class="ui-category-slider">
  <div class="page-width">

    {% if section.settings.title != blank %}
      <div class="ui-category-slider__header">
        <h2>{{ section.settings.title }}</h2>
      </div>
    {% endif %}

    <slider-interface>

      <div class="ui-category-slider__wrapper">

        <ul
          class="ui-category-slider__list ui-category-slider--{{ section.settings.cards_per_row }}"
          slider-card-list
          data-cards-per-slide="{{ section.settings.cards_per_row }}">

          {% for block in section.blocks %}

            <li class="ui-category-slider__item" slider-card>

              {% comment %} {% render 'ui-product-card'
                                                ,
                                 image: block.settings.image
                                                ,
                                 title: block.settings.title
                                                ,
                                 link: block.settings.link
                                          %} {% endcomment %}

              {% assign category = block.settings.collection %}

              {% if category %}
                {% render 'ui-product-card',
 image: category.image | default: category.products.first.featured_image,
 title: category.title,
 link: category.url
                %}
              {% endif %}

            </li>

          {% endfor %}

        </ul>

      </div>

      <div class="ui-category-slider__nav" slider-nav>
        {%- liquid
          render 'm-slider-scroll-indicator'-%}
        {%- liquid
          render 'm-slider-btn'-%}
      </div>

    </slider-interface>

  </div>
</section>

{% schema %}
  {
    "name": "UI Category Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Shop By Category"
      },
      {
        "type": "select",
        "id": "cards_per_row",
        "label": "Cards per row",
        "options": [
          {
            "value": "6",
            "label": "6 Cards"
          },
          {
            "value": "4",
            "label": "4 Cards"
          },
          {
            "value": "3",
            "label": "3 Cards"
          }
        ],
        "default": "6"
      }
    ],
    "blocks": [
      {
        "type": "category",
        "name": "Category",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Category Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Category Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Category Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "UI Category Slider"
      }
    ]
  }
{% endschema %}