@use "../typography/fontVariables" as *;

.header {
    display: flex;
    justify-content: space-between;
    height: var(--h-header);

    &:not(.drawer-menu).page-width {
        padding-left: var(--space-m);
        padding-right: var(--space-m);
    }

    &-wrapper {
        background-color: transparent !important;

        &.gradient {
            background-color: transparent !important;
        }
    }

    &__inline-menu {
        display: flex;
        align-items: center;

        @include media("<md") {
            display: none;
        }
    }

    &__heading {
        &-nav-wrap {
            display: flex;
        }
    }

    &__menu-item {
        font-family: $recoletaRegular;
        color: var(--c-text-primary-dark);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-block: 0;
        padding-inline: var(--space-xs);

        &:hover{
            color: var(--c-text-primary-dark);
        }
    }

    &__active-menu-item {
        text-decoration: none;
        color: var(--c-text-primary-dark);
    }

    &__icon--cart {
        height: auto;
        width: auto;
        margin-right: 0;
        margin-left: var(--space-xs);

        .svg-wrapper {
            width: 24px;
            height: 24px;
        }
    }
}