- name: Deploy theme to Shopify
  env:
    SHOPIFY_CLI_AUTH_TOKEN: ${{ secrets.SHOPIFY_CLI_AUTH_TOKEN }}
  run: |
    shopify theme push \
      --store jwala-new.myshopify.com \
      --theme 155327365269 \
      --path .