# name: Deploy Shopify Theme

# on:
#   push:
#     branches: [ main ]

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v4

#       - uses: actions/setup-node@v4
#         with:
#           node-version: 20

#       - name: Install Shopify CLI
#         run: npm install -g @shopify/cli @shopify/theme

#       - name: Push theme to Shopify
#         env:
#           SHOPIFY_CLI_THEME_ACCESS_PASSWORD: ${{ secrets.SHOPIFY_CLI_THEME_ACCESS_PASSWORD }}
#         run: |
#           shopify theme push \
#             --store jwala-new.myshopify.com \
#             --theme 155327365269 \
#             --path . \
#             --allow-live \
#             --password "$SHOPIFY_CLI_THEME_ACCESS_PASSWORD"


name: Deploy Shopify Themes

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Shopify CLI
        run: npm install -g @shopify/cli @shopify/theme

      - name: Push to Dev Theme
        env:
          SHOPIFY_CLI_THEME_ACCESS_PASSWORD: ${{ secrets.SHOPIFY_CLI_THEME_ACCESS_PASSWORD }}
        run: |
          shopify theme push \
            --store jwala-new.myshopify.com \
            --theme 155327365269 \
            --path . \
            --allow-live \
            --password "$SHOPIFY_CLI_THEME_ACCESS_PASSWORD"

      - name: Push to Secondary Theme
        env:
          SHOPIFY_CLI_THEME_ACCESS_PASSWORD: ${{ secrets.SHOPIFY_CLI_THEME_ACCESS_PASSWORD }}
        run: |
          shopify theme push \
            --store jwala-new.myshopify.com \
            --theme 155326611605 \
            --path . \
            --allow-live \
            --password "$SHOPIFY_CLI_THEME_ACCESS_PASSWORD"
